{% load static%}

<footer class="row" id="footer">
      <div class="col-xl-12" style="padding-bottom: 10px">
        <a href="https://www.facebook.com/hybevo/"><img src="{% static 'Images/Icon/FacebookIcon.svg' %}" class="img-fluid icon" alt="Facebook" width="48" height="48"></a>
        <a href="https://www.instagram.com/hybevo/"><img src="{% static 'Images/Icon/InstagramIcon.svg' %}" alt="Instagram" width="48" class="img-fluid icon"></a>
        <a href="https://t.me/HybridEvolution"><img src="{% static 'Images/Icon/TelegramIcon.svg' %}" alt="Telegram" width="48" height="48" class="img-fluid icon"></a>
        </div>
</footer>