{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row text-center" data-gr-c-s-loaded="true"style="padding-top: 5%;">
  <div class="col-xl-12">
      {% include 'partials/_alerts.html' %}
	<form class="form-signin" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
      <img class="mb-4" src="{% static 'Images/OrigamiFox.svg' %}" alt="Hybevo Logo" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal" style="font-family: Yekan; font-size: 20px;">ورود به حساب کاربری</h1>
      <label for="username" class="sr-only">Email address</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="نام کاریری" required="" autofocus="" style="font-family: Yekan;">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="کلمه عبور" required="" style="font-family: Yekan;">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me">
          من را به خاطر بسپار. </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" style="background-color: rgba(72,150,170,1.00);" type="submit">ورود</button>
		<button class="btn btn-lg btn-primary btn-block" style="background-color: rgba(52,111,126,1.00);" type="submit">عضویت</button>
      <p class="mt-5 mb-3 text-muted">فراموشی رمز عبور</p>
    </form>
	</div>
</div>

{% endblock %}