{% extends 'base.html' %}

{% block content %}
    <article class="row justify-content-around" id="article" style="margin-bottom: 100px;">
    {% if blog %}
        {% for post in blog %}
            <div class="card col-md-4 col-xl-3"> <img class="card-img-top" src="{{ post.photo_main.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="text-align: right">{{ post.title }}</h5>
          <p class="card-text" style="text-align: right">{{ post.abstract }}</p>
          <a href="{% url 'blog' post.id %}" class="btn btn-primary">ادامه...</a> </div>
      </div>
        {% endfor %}
    {% else %}
        <div class="col-md-12">
            <p>No blog post available</p>
        </div>
    {% endif %}
    </article>
    {% if blog.has_other_pages %}
        <div class="col-xl-12">
            <nav aria-label="...">
          <ul class="pagination justify-content-center">
              {% if blog.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ blog.previous_page_number }}" tabindex="-1">&laquo;</a>
                </li>
              {% else %}
                  <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                </li>
              {% endif %}
          {% for i in blog.paginator.page_range %}
            {% if blog.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{i}} <span class="sr-only">(current)</span></a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
            {% endif %}
          {% endfor %}
            {% if blog.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ blog.next_page_number }}" tabindex="-1">&raquo;</a>
              </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                </li>
            {% endif %}
          </ul>
        </nav>
        </div>
    {% endif %}
{% endblock %}