@font-face {
	font-family: 'Yekan';
	src: url('Yekan.eot');
	src: url('Yekan.eot?#iefix') format('embedded-opentype'),
		url('Yekan.woff') format('woff'),
		url('Yekan.ttf') format('truetype'),
		url('Yekan.svg') format('svg');
}